@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Please email <a href="mailto:support@aapp.io">support@aapp.io</a> for any question or suggestion.
</address>
