@{
    ViewData["Title"] = "AAPP";
}

<div class="row">
    <div class="col-sm-12">
        <script src="https://localhost:5001/Announcements/List/46ea1de1-0ce0-4a07-bc84-fbbd4355c308.js"></script>
        <p>
        Announcement App is a web service for developers to manage your announcements. The warning above is me eating my own dog food (that warning isn't joking).
        </p>
        <p>
        You just need to replace the YOUR_ID in the following JavaScript and put it in your code.
        </p>

        <p>
        &lt;script src=&quot;https://localhost:5001/Announcements/List/YOUR_ID.js&quot;&gt;&lt;/script&gt;
        </p>

        <p>
            <a class="btn btn-primary" href="/Identity/Account/Register">Click here to register and start to use</a>
        </p>

        <p>
            Please email me at NEO dot L dot H dot WANG at GMAIL dot com for any questions and suggestions. Happy coding!  :)
        </p>
    </div>
</div>
